/* p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
.container_main{
    background-color: white;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
}